.container {
    margin: auto;
    width: 700px;
  }

  .top-bar {
      display: block;
  }
  
  #name {
      display: inline-block;
      font-size: 48px;
      width: 641px;
      font-weight: bold;
  }
  
  #story {
      font-size: 24px;
      display: inline-block;
      border-style: solid;
      border-color: black;
      border-width: 5px;
      border-radius: 50%;
      padding-top: 7px;
      width: 45px;
      height: 38px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
  }

  #story:hover {
    background-color: black;
    color: white;
  }

.evidence {
    height: 385px;
    width: 700px;
}

.evidence-list {
    height: 385px;
    width: 160px;
    float: left;
    text-align: center;
    padding-right: 15px;
}

p {
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 2px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    width: 150px;
    font-size: 24px;
    cursor: pointer;
}

p:hover{
    background-color: black;
    color: white;
}

.evidence-picture {
    float: left;
    height: 355px;
    width: 518px;
}

img {
    margin-top: 15px;
    margin-left: 7px;
    height: 355px;
    width: 518px;
}

.box {
    background: black;
    color: white;
    font-size: 24px;
    margin: auto;
    width: 700px;
    height: 150px;
}
  
.pad {
    padding: 15px;
}

#security {
    visibility: hidden;
}

#autopsy {
    visibility: hidden;
}

#skid-marks {
    visibility: hidden;
}

#sheet-music {
    visibility: hidden;
}

#locks {
    visibility: hidden;
}

#broken-instruments {
    visibility: hidden;
}